//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8 Education
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Wed 02 09 20:07:19 2022

IO_LOC "ps_cen" 19;
IO_PORT "ps_cen" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sclk" 20;
IO_PORT "sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "adc1_out" 21;
IO_PORT "adc1_out" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=4;
IO_LOC "adc0_out" 24;
IO_PORT "adc0_out" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=4;
IO_LOC "ledB" 16;
IO_PORT "ledB" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ledG" 17;
IO_PORT "ledG" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ledR" 18;
IO_PORT "ledR" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "lcdDE" 5;
IO_PORT "lcdDE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdVSync" 46;
IO_PORT "lcdVSync" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdHSync" 10;
IO_PORT "lcdHSync" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdB[4]" 45;
IO_PORT "lcdB[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdB[3]" 44;
IO_PORT "lcdB[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdB[2]" 43;
IO_PORT "lcdB[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdB[1]" 42;
IO_PORT "lcdB[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdB[0]" 41;
IO_PORT "lcdB[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdG[5]" 40;
IO_PORT "lcdG[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdG[4]" 39;
IO_PORT "lcdG[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdG[3]" 38;
IO_PORT "lcdG[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lcdG[2]" 34;
IO_PORT "lcdG[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdG[1]" 33;
IO_PORT "lcdG[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdG[0]" 32;
IO_PORT "lcdG[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdR[4]" 31;
IO_PORT "lcdR[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdR[3]" 30;
IO_PORT "lcdR[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdR[2]" 29;
IO_PORT "lcdR[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdR[1]" 28;
IO_PORT "lcdR[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdR[0]" 27;
IO_PORT "lcdR[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "lcdClk" 11;
IO_PORT "lcdClk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF;
IO_LOC "adc1_in" 22;
IO_PORT "adc1_in" IO_TYPE=SSTL33_I PULL_MODE=NONE;
IO_LOC "adc0_in" 23;
IO_PORT "adc0_in" IO_TYPE=SSTL33_I PULL_MODE=NONE;
IO_LOC "clk_in" 35;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP SINGLE_RESISTOR=OFF;
IO_LOC "btnB" 14;
IO_PORT "btnB" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "btnA" 15;
IO_PORT "btnA" IO_TYPE=LVCMOS33 PULL_MODE=UP;
